*{
    background-color: rgb(174, 169, 169);
}

form{
    display: block;
    /* height: 50px; */
    width: auto;
    text-align: center;
    margin-top: 100px;
    /* border: 2px solid orange; */
}
h1{
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /* font-size: larger; */
    font-weight: 900;
    font-style: bold;
}
button{
    background-color: rgb(212, 167, 111);
    height: 25px;
    font-weight: 600;
}

input{
    background-color: whitesmoke;
    border: 1px solid black;
    margin-top: 10px;
}

#result{
    color: white;
    padding: 9px;
    font-size: large;
}